@import './components/addChart/AddChart.scss';
@import './components/chartsList/chart/Chart.scss';
@import './palette.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0 2rem;
  font-size: 62.5%;
  background-color: $primary-color;
}

.header h1 {
  height: 10vh;
  font-size: 2rem;
  width: 60%;
  margin: 2rem auto;
  text-align: center;
}

.add-chart-section {
  flex: 2;
}

.chart-section {
  flex: 3;
}

.tool-section {
  height: 70vh;
  display: flex;
  justify-content: space-between;
}
